	<footer>
		<div class="row padding_mobile padding_top padding_bottom fixed_width jcsb aic">
			<p class="one_third">Copyright 2017</p>
			<nav class="footernav one_third">
				<ul class="row jcsb">
					<li>
						<a href="#">Link</a>
					</li>
					<li>
						<a href="#">Link</a>
					</li>
					<li>
						<a href="#">Link</a>
					</li>
					<li>
						<a href="#">Link</a>
					</li>
				</ul>
			</nav>
			<!--  /.footernav -->
			<nav class="social one_third">
				<ul class="row jcfe">
					<li>
						<a href="#">Link</a>
					</li>
					<li>
						<a href="#">Link</a>
					</li>
					<li>
						<a href="#">Link</a>
					</li>
					<li>
						<a href="#">Link</a>
					</li>
				</ul>
			</nav>
			<!--  /.social one_third -->
		</div>
		<!--  /.row fixed_width -->
	</footer>
	<script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="js/script-min.js"></script>
</body>
</html>