{% set currentpage = "about" %}
{% set pagetitle = "About Me" %}
{% include "./html/header.njk" %}
    <div class="content">
        <div class="fixed_width padding_mobile row">
            <aside class="sidebar one_quarter padding_right">
                <h2>1/4 Sidebar</h2>
                <ul class="bulleted">
                    <li>Lorem ipsum Pariatur</li>
                    <li>Lorem ipsum Pariatur</li>
                    <li>Lorem ipsum Pariatur</li>
                    <li>Lorem ipsum Pariatur</li>
                </ul>
                <!--  /.bulleted -->
                <p>L sunt las do nulla qui dolore proident do veniam velit adipisicing in est aliquip dolore nisi magna irure ut cillum et dolore id deserunt et volupt ate reprehenderit Duis reprehenderit sed exercitation ea elit velit Duis ut proident do.</p>
            </aside>
            <!--  /.sidebar -->
            <div class="main three_quarters">
                <h2>Header 2 Type</h2>
                <p>Lorem ipsum Enim non mollit nostrud in exercitation aliquip sed amet nostrud consequat aliqua cillum dolor dolor mollit cupidatat fugiat proident incididunt do cupidatat magna dolore reprehenderit tempor minim nulla voluptate tempor ad dolore proident ut ea velit ea dolor veniam id non ut laboris dolore cillum dolore culpa sit aliqua dolor sunt dolor amet aliqua adipisicing Ut aute.</p>
                <p>Amet cillum voluptate exercitation et quis nisi nulla ad id non esse adipisicing ad anim eu enim sit velit dolore Ut anim anim ad enim amet do consequat in aute eiusmod id Duis ut exercitation consectetur non ea qui tempor dolore Ut quis dolor dolor ut elit culpa qui cillum occaecat cupidatat non veniam adipisicing anim sit pariatur exercitation dolor laborum tempor amet nulla consectetur sint elit in eiusmod sint esse labore non nostrud irure incididunt aliquip pariatur do fugiat sint consequat sint pariatur labore aute do aute dolor labore nisi reprehenderit magna voluptate eu incididunt nostrud in veniam dolore do culpa ullamco in deserunt adipisicing deserunt deserunt enim Excepteur nisi sunt aute dolor mollit consectetur nostrud est nulla Duis Excepteur nulla quis in deserunt eu reprehenderit in velit enim et eiusmod aute elit adipisicing deserunt dolore in veniam Excepteur.</p>
            </div>
            <!--  /.main -->
        </div>
        <h2 class="fixed_width">Grids</h2>
        <!--  /.fixed_width -->
        <h3 class="fixed_width">.one_quarter</h3>
        <!--  /.fixed_width -->
        <div class="fixed_width padding_mobile row">
            <div class="one_quarter bigshadow padding_full margin_full">One quarter</div>
            <!--  /.quarter box -->
            <div class="one_quarter bigshadow padding_full margin_full">One quarter</div>
            <!--  /.quarter box -->
            <div class="one_quarter bigshadow padding_full margin_full">One quarter</div>
            <!--  /.quarter box -->
            <div class="one_quarter bigshadow padding_full margin_full">One quarter</div>
            <!--  /.quarter box -->
        </div>
        <h3 class="fixed_width">.one_third</h3>
        <!--  /.fixed_width -->
        <div class="fixed_width padding_mobile row">
            <div class="one_third bigshadow padding_full margin_full">One third</div>
            <!--  /.third box -->
            <div class="one_third bigshadow padding_full margin_full">One third</div>
            <!--  /.third box -->
            <div class="one_third bigshadow padding_full margin_full">One third</div>
            <!--  /.third box -->
        </div>
        <h3 class="fixed_width">.half</h3>
        <!--  /.fixed_width -->
        <div class="fixed_width padding_mobile row">
            <div class="half bigshadow padding_full margin_full">.half</div>
            <!--  /.half box -->
            <div class="half bigshadow padding_full margin_full">.half</div>
            <!--  /.half box -->
        </div>
        <h3 class="fixed_width">.one_quarter .three_quarters</h3>
        <!--  /.fixed_width -->
        <div class="fixed_width padding_mobile row">
            <div class="one_quarter bigshadow padding_full margin_full">.one_quarter</div>
            <!--  /.one_quarter box -->
            <div class="three_quarters bigshadow padding_full margin_full">.three_quarters</div>
            <!--  /.three_quarter box -->
        </div>
        <h3 class="fixed_width">.one_third .two_thirds</h3>
        <!--  /.fixed_width -->
        <div class="fixed_width padding_mobile row">
            <div class="one_third bigshadow padding_full margin_full">.one_third</div>
            <!--  /.one_third box -->. 
            <div class="two_thirds bigshadow padding_full margin_full">.two_thirds</div>
            <!--  /.ttwo_thirds box -->
        </div>
         <h2 class="fixed_width">Buttons</h2>
         <div class="fixed_width row padding_mobile">
             <a href="#" class="btn btn_solid">Solid Button</a>
             <a href="#" class="btn btn_outline">Outline Button</a>
         </div><!--  /.fixed_width row paddingmobile -->
    </div>
    <!--  /.content -->
{% include "./html/footer.njk" %}
